In [0]:
from pyspark.sql.functions import *

##Leemos el archivo

In [0]:
df = spark.read.format("csv")\
    .option("header", "true")\
    .option("inferschema", "true")\
    .load("/FileStore/shared_uploads/arraz7191@gmail.com/ds_salaries.csv")

##Mostramos la tabla

In [0]:
df.show()

+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|     2023|              SE|             FT|Principal Data Sc...| 80000|            EUR|        85847|                ES|         100|              ES|           L|
|     2023|              MI|             CT|         ML Engineer| 30000|            USD|        30000|                US|         100|              US|           S|
|     2023|              MI|             CT|         ML Engineer| 25500|            USD|        25500|                US|         100|              US|           S|
|     2023|              SE|             FT|      Data Scientist|175000|            USD|       175000|                CA|         100|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|120000|            USD|       120000|                CA|         100|              CA|           M|
|     2023|              SE|             FT|   Applied Scientist|222200|            USD|       222200|                US|           0|              US|           L|
|     2023|              SE|             FT|   Applied Scientist|136000|            USD|       136000|                US|           0|              US|           L|
|     2023|              SE|             FT|      Data Scientist|219000|            USD|       219000|                CA|           0|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|141000|            USD|       141000|                CA|           0|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|147100|            USD|       147100|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist| 90700|            USD|        90700|                US|           0|              US|           M|
|     2023|              SE|             FT|        Data Analyst|130000|            USD|       130000|                US|         100|              US|           M|
|     2023|              SE|             FT|        Data Analyst|100000|            USD|       100000|                US|         100|              US|           M|
|     2023|              EN|             FT|   Applied Scientist|213660|            USD|       213660|                US|           0|              US|           L|
|     2023|              EN|             FT|   Applied Scientist|130760|            USD|       130760|                US|           0|              US|           L|
|     2023|              SE|             FT|        Data Modeler|147100|            USD|       147100|                US|           0|              US|           M|
|     2023|              SE|             FT|        Data Modeler| 90700|            USD|        90700|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist|170000|            USD|       170000|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist|150000|            USD|       150000|                US|           0|              US|           M|
|     2023|              MI|             FT|        Data Analyst|150000|            USD|       150000|                US|         100|              US|           M|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

##Cantidad de registros

In [0]:
df.count()

Out[5]: 3755

##Salario promedio

In [0]:
salario_promedio = df.select(avg("salary")).collect()[0][0]
print("El salario promedio es: ", salario_promedio)

El salario promedio es:  190695.57177097205

##Filtramos datos a partir de un salario

In [0]:
empleados_con_salario_mayor = df.filter(df["salary"] > 100000).orderBy(col("salary").desc())
empleados_con_salario_mayor.show()

+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|     2021|              MI|             FT|      Data Scientist|30400000|            CLP|        40038|                CL|         100|              CL|           L|
|     2021|              MI|             FT|     BI Data Analyst|11000000|            HUF|        36259|                HU|          50|              US|           L|
|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|     2021|              MI|             FT|         ML Engineer| 8500000|            JPY|        77364|                JP|          50|              JP|           S|
|     2022|              SE|             FT|Lead Machine Lear...| 7500000|            INR|        95386|                IN|          50|              IN|           L|
|     2021|              MI|             FT|         ML Engineer| 7000000|            JPY|        63711|                JP|          50|              JP|           S|
|     2021|              SE|             FT|Data Science Manager| 7000000|            INR|        94665|                IN|          50|              IN|           L|
|     2022|              EN|             FT|      Data Scientist| 6600000|            HUF|        17684|                HU|         100|              HU|           M|
|     2022|              EX|             FT|Head of Machine L...| 6000000|            INR|        76309|                IN|          50|              IN|           L|
|     2023|              MI|             FT|Head of Data Science| 5000000|            INR|        60795|                IN|          50|              IN|           L|
|     2021|              SE|             FT|Machine Learning ...| 4900000|            INR|        66265|                IN|           0|              IN|           L|
|     2022|              SE|             FT| Lead Data Scientist| 4460000|            INR|        56723|                IN|           0|              IN|           L|
|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
|     2022|              MI|             FT|      Data Scientist| 4200000|            INR|        53416|                IN|         100|              ID|           L|
|     2021|              SE|             FT|      Data Scientist| 4000000|            INR|        54094|                IN|         100|              IN|           L|
|     2021|              SE|             FT|Data Science Manager| 4000000|            INR|        54094|                IN|          50|              US|           L|
|     2022|              SE|             FT|Principal Data Ar...| 3000000|            INR|        38154|                IN|         100|              IN|           L|
|     2021|              SE|             FT| Lead Data Scientist| 3000000|            INR|        40570|                IN|          50|              IN|           L|
|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
|     2022|              MI|             FT|       Data Engineer| 2800000|            INR|        35610|                IN|          50|              IN|           L|
+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

##Seleccionamos columnas específicas, filtramos por moneda y ordenamos el salario de mayor a menor

In [0]:
df.select(
    col("job_title").alias("Puesto"), 
    col("salary").alias("Salario"), 
    col("salary_currency").alias("Moneda"),
    col("employee_residence").alias("Lugar de residencia")                                               
).filter(df["salary_currency"] == "USD").orderBy(col("salary").desc()).show()

+--------------------+-------+------+-------------------+
|              Puesto|Salario|Moneda|Lugar de residencia|
+--------------------+-------+------+-------------------+
|  Research Scientist| 450000|   USD|                 US|
|Applied Machine L...| 423000|   USD|                 US|
|Principal Data Sc...| 416000|   USD|                 US|
|      Data Scientist| 412000|   USD|                 US|
| Data Analytics Lead| 405000|   USD|                 US|
|        Data Analyst| 385000|   USD|                 US|
|Applied Data Scie...| 380000|   USD|                 US|
|      Data Architect| 376080|   USD|                 US|
|Machine Learning ...| 375000|   USD|                 US|
|Data Science Tech...| 375000|   USD|                 US|
|      Data Scientist| 370000|   USD|                 US|
|  Research Scientist| 370000|   USD|                 US|
|Director of Data ...| 353200|   USD|                 US|
|   Applied Scientist| 350000|   USD|                 US|
|      Data Scientist| 350000|   USD|                 US|
|      Data Architect| 345600|   USD|                 US|
|Computer Vision E...| 342810|   USD|                 US|
|Machine Learning ...| 342300|   USD|                 US|
|  Research Scientist| 340000|   USD|                 US|
|        Head of Data| 329500|   USD|                 US|
+--------------------+-------+------+-------------------+
only showing top 20 rows